h1, h3 { /* title and author */
  text-align: center;
}

.add-options { /* container for add button */
  margin: 50px auto;
  text-align: center;
}

.add-button {
  width: 36px;
  height: 36px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: #59BAFF;
  border-radius: 50%;
  padding: 5px;
  margin-top: 3px;
  color: white;
}

.add-button /deep/ [fit] { /* selects icon svg */
  padding: 10px;
  box-sizing: border-box;
}

.icon {
  display: inline-block;
  margin: 0 8px;
}

.small { /* text above button add button */
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
  font-size: 0.7em;
}


#nodeContainer { /* container for all nodes */
  position: relative;
  width: 95%;
  margin: 20px auto;
}

.delete-button {
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
  width: 20px;
  z-index: 1;
  color: black;
}

::content > * {
  width: 100%;
  height: 100%;
}

.disable {
  opacity: 0.5
}

/* Theme selector styles START */ 
paper-input /deep/ ::content * {
  text-align: center;
}

paper-input {
  width: auto;
}

core-selector {
  margin: 0 auto;
  position: relative;
  min-height: 10px;
  max-height: 200px;
  overflow-y: scroll; 
  display: inline-block;
  border: 1px solid #EEE;
  cursor: pointer;
  background-color: white;
}

core-selector div {

  padding: 1px;
  display: block;
  margin: 0 3px;
  padding: 1px;
}

core-selector div:hover {
  background-color: #eee;
}

core-selector .core-selected {
  background-color: #ccc;
}


.theme-selector {
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.theme-selector > * {
  margin: 0 auto;
  text-align: left;
  width: 200px;
}


.dropdown-item, .selected-item {
  padding: 5px 5px 0px 5px;
  border-bottom: 1px solid white;
}

.selected-item {
  position: absolute;
  left: 0;
  overflow: hidden;
  height: 21px;
}

.swatch {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  list-style-type: none;
  display: inline-block;
}

paper-dropdown-menu /deep/ core-icon {
  z-index: 100;
}

/* Theme selector styles END */ 

